<nav class="navbar-header">
  <a mat-button routerLink="/" aria-label="Angular">
    <img class="docs-angular-logo" src="../../../assets/img/homepage/angular-white-transparent.svg" alt="angular">
    <span>Home</span>
  </a>
  <a mat-button routerLink="/" class="navbar-hide-small">Components</a>
  <a mat-button routerLink="/" class="navbar-hide-small">Blog</a>
  <a mat-button routerLink="/notes" class="navbar-hide-small">Notes</a>
  <div class="flex-spacer"></div>
  <a mat-button href="https://github.com/onexwolf" aria-label="GitHub">
    <img class="docs-angular-logo" src="../../../assets/img/homepage/github-circle-white-transparent.svg" alt="angular">
    GitHub
  </a>
</nav>
<nav class="navbar-show-small">
  <a mat-button routerLink="/">Components</a>
  <a mat-button routerLink="/">Blog</a>
  <a mat-button routerLink="/notes">Notes</a>
</nav>
