/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./app-theme";

@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

a,
input,
li,
ol,
p,
ul {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}

.d-sticky {
  position: sticky;
  top: 53px;
  max-height: 100vh;
  overflow: auto;
}

.mat-drawer-container {
  overflow: visible !important;

  mat-sidenav {
    overflow: visible !important;

    .mat-drawer-inner-container {
      overflow: visible !important;
    }
  }

  mat-sidenav-content {
    overflow: visible !important;
  }
}

@media (max-width: 720px) {
  .d-sticky {
    top: 89px;
  }
}
